.header{
    background-color: #040427;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
}

.brand{
    width: 40px;
}

.brand img{
    width: 100%;
}

.container{
    margin: auto 8px;
    min-height: calc(100vh - 50px);
    display: flex;
}

/* .vertical{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} */

@media(max-width: 1200px){
    .container{
        flex-direction: column;
        height: fit-content;
    }
}

button{
    padding: 6px;
    color: white;
    background-color: #040427;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    border: 0;
    font-weight: 500;
}

/* Upload File */

.upload-container{
    margin: 16px;
    flex-basis: 30%;
    max-height: 100%;
}

.title{
    color: #040427;
    height: 60px;
    margin: 0;
}

.upload-box{
    padding: 20px;
    border: 1px solid #d3d3d3;
}

.partition{
    box-sizing: border-box;
}


.upload-box .label{
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.upload-box .input-name{
    padding: 6px 4px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #d3d3d3;
    width: 100%;
    border-radius: 2px;
}

.upload-box .input-desc{
    padding: 6px 4px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #d3d3d3;
    width: 100%;
    border-radius: 2px;
    resize: none;
    height: 100px;
}

.upload-box .partition{
    margin-bottom: 20px;
}

.partition .file-input{
    display: none;
}

.upload-box .label-file{
    display: inline-block;
    margin-right: 16px;
}

.upload-btn{
    margin-top: 24px;
    width: 100%;
    padding: 10px;
}


/* File Table */

.file-table-container{
    margin: 16px;
    flex-basis: 70%;
}


.files-container{
    padding: 16px;
    padding-bottom: 6px;
    border: 1px solid #d3d3d3;
    position: relative;
    height: calc(100% - 60px)
}

.search-box{
    margin-bottom: 16px;
}

.search-box input{
    padding: 6px 4px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #d3d3d3;
    width: 100%;
    border-radius: 2px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.message{
    color: #0000006c;
    font-size: 12px;
    display: block;
    text-align: center;
}

.table th,
.table td{
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.table tr:first-child{
    color: #000 ;
}

.table tr{
    color: #0000006c;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
}

.table tr .file-type{
    width: 100px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.more-menu{
    position: relative;
    width: fit-content;
    margin: auto;
}

.more-menu .small-menu{
    position: absolute;
    background-color: #040427;
    color: white;
    padding: 6px;
    border-radius: 6px;
    text-align: left;
    top: 20px;
    right: 0;
    width: 120px;
}

.more-menu .small-menu li{
    padding: 6px;
}

.more-menu .small-menu li:hover{
    background-color: #363655;
}

.table tr:hover{
    color: black;
}

.table tr:nth-child(odd){
    background-color: #d3d3d341;
}

.svg-icon{
    font-size: 16px !important;
}

.svg-icon.copy{
    color: #3983d8 !important;
}

.page-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    color: #0000006c;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.page-slider .svg-icon{
    font-size: 20px !important;
}

.page-slider p{
    font-size: 12px;
    margin: 0;
}


/* Stat component */

.stat-container{
    margin: 16px;
    max-height: 100%;
}

.stat-box{
    padding: 20px;
    border: 1px solid #d3d3d3;
}

.stat-box p{
    color: #0000006c;
}

.stat-box p:nth-child(4) span{
    background-color: #d3d3d3;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.stat-box p span{
    color: #040427;
}



/* Modal */


.modal-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0000006c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-modal{
    width: 40%;
    min-width: 440px;
    height: fit-content;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 36px 40px;
    position: relative;
}

.file-modal h3{
    text-align: center;
    display: block;
    margin: 0;
}

.file-details{
    color: #0000006c;
    font-size: 14px;
    overflow-wrap: break-word;
}

.file-details span{
    color: #040427 !important;
    
}

.file-modal .svg-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}



/* Both */

@media(max-width: 1200px){
    .upload-container,
    .stat-container,
    .file-table-container{
        margin: 0;
        margin-top: 18px;
    }
    
    .title{
        height: 50px;
    }

    .files-container{
        min-height: 600px;
        margin-bottom: 20px;
    }


}